{% extends "base.html" %} {% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<hr>
			<h2>Your Booking</h2>
			<hr>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
			{% if bag %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Description</th>
							<th scope="col">Cost per day</th>
							<th scope="col">No. of days</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="py-3">
								<p>{{make}}, {{model}}</p>
							</td>
							<td class="py-3">
								<p>£{{car_cost_per_day}} per day</p>
							</td>
							<td class="py-3">
								<p>for {{num_days}} days</p>
							</td>
							<td class="py-3">
								<p>£{{car_total}}</p>
							</td>
						</tr>
                        <tr>
							<td class="py-3">
								<p>Car insurance</p>
							</td>
							<td class="py-3">
								<p>£{{insurance_per_day}} per day</p>
							</td>
							<td class="py-3">
								<p>for {{num_days}} days</p>
							</td>
							<td class="py-3">
								<p>£{{insurance_total}}</p>
							</td>
						</tr>
                        <tr>
							<td class="py-3">
								<p>Road side assistance</p>
							</td>
							<td class="py-3">
								<p>£{{support_per_day}} per day</p>
							</td>
							<td class="py-3">
								<p>for {{num_days}} days</p>
							</td>
							<td class="py-3">
								<p>£{{support_total}}</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% else %}
			<p>You don't have any bookings yet</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}