{% extends "base.html" %} {% block content %}
{% csrf_token %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<hr>
			<h2>Your Booking</h2>
			<hr>
		</div>
	</div>
</div>
    <div class="container">
      <div class="row">
		<div class="col-12">
			{% if grand_total %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Description</th>
							<th scope="col">Cost per day</th>
							<th scope="col">No. of days</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="py-1">
								<p>{{bag_car.make}}, {{bag_car.model}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_car.cost_per_day|floatformat:2}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_car_total|floatformat:2}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-name="del_car"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% if bag_insurance %}
                        <tr>
							<td class="py-1">
								<p>Car insurance</p>
							</td>
							<td class="py-1">
								<p>£{{bag_insurance|floatformat:2}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_insurance_total|floatformat:2}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-name="del_insurance"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% endif %}
                        {% if bag_support %}
                        <tr>
							<td class="py-1">
								<p>Road side assistance</p>
							</td>
							<td class="py-1">
								<p>£{{bag_support|floatformat:2}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_support_total|floatformat:2}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-name="del_support"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% endif %}
					</tbody>
				</table>
			</div>
            <div class="text-center font-weight-bold pb-3">
                <span class="pr-3">Total to pay</span>
                <span>£{{grand_total|floatformat:2}}</span>
            </div>
            <div class="mx-3 mb-3">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'checkout' %}" role="button">Go To Secure Checkout
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
			{% else %}
            <div id="bag-empty-text">
                <p>You don't have any bookings yet</p>
                <p>Search for cars to get started</p>
            </div>
			{% endif %}
		</div>
	</div>
    </div>

{% endblock %}