{% extends "base.html" %} {% load static %} {% block content %}
<div class="index-wrapper">
  <div id="search-form-container">
    <form
      action="{% url 'all_cars' %}"
      method="GET"
      id="search-form"
      class="mx-auto"
      autocomplete="off"
    >
      <div class="row m-0 p-3">
        <div class="col-12 col-md-6 p-1">
          <input
            type="text"
            class="form-control"
            id="search-location"
            name="search-location"
            placeholder="Search by location"
            aria-label="Search location"
            required
          />
        </div>
        <div class="col-12 col-md-2 p-1">
          <div class="input-group date form-col">
            <input
              type="text"
              class="form-control datepicker search-font"
              id="search-from"
              name="search-from"
              aria-label="Hire from"
              onkeydown="return false"
              required
            />
          </div>
        </div>
        <div class="col-12 col-md-2 p-1">
          <div class="input-group date form-col">
            <input
              type="text"
              class="form-control datepicker search-font"
              id="search-to"
              name="search-to"
              placeholder="Hire to"
              aria-label="Hire to"
              onkeydown="return false"
              required
            />
          </div>
        </div>
        <div class="col-12 col-md-2 p-1">
          <button type="submit" class="btn btn-primary btn-search">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <div id="background-container"></div>
</div>
{% endblock %} {% block postloadjs %} {{ block.super }}
<script
  type="text/javascript"
  src="{% static 'js/daterange_picker.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/google_places.js' %}"
></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXt_Gbtreh_O2-q4JrndPuwAJRdk6a54w&libraries=places&callback=activatePlacesSearch"></script>
{% endblock %}
