{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}
<div class="form-container mx-5 bg-light">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-md-6">
        {{ search_form.location.errors }}
        {{ search_form.location|as_crispy_field }}
      </div>
      <div class="col-12 col-md-3">
        {{ search_form.hire_from|as_crispy_field }}
      </div>
      <div class="col-12 col-md-3">
        {{ search_form.hire_to|as_crispy_field }}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-lg m-3">Search</button>
    </div>
  </form>
</div>
{% endblock %}
