{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
{% endblock %} {% block content %}
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <hr />
      <h3>Order History</h3>
      <p class="text-muted">See previous orders</p>
      <hr />
    </div>
  </div>
  {% if orders %}
  <div class="row">
    <div class="col-12 pt-3">
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th>Order Number</th>
              <th>Date</th>
              <th>Items</th>
              <th>Order Total</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>
                <a
                  href="{% url 'order_history' order.order_number %}"
                  title="{{ order.order_number }}"
                >
                  {{ order.order_number|truncatechars:6 }}
                </a>
              </td>
              <td>{{ order.date }}</td>
              <td>
                <ul class="list-unstyled">
                  {% for item in order.lineitems.all %}
                  <li class="small">
                    {{ item.description }} - £{{ item.lineitem_total }}
                  </li>
                  {% endfor %}
                </ul>
              </td>
              <td>£{{ order.grand_total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    {% else %}
  <div class="row">
      <div class="col-12">
          You do not have any orders to view at the moment
      </div>
  </div>
  {% endif %}
</div>
{% endblock %}
