@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* -------------------------------------- Html */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* -------------------------------------- Body */
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.index-text {
    color: #dc04b4;
}

/* -------------------------------------- Fonts */
.logo-font {
    font-family: 'Roboto', sans-serif;
    color: #4059ad;
}

/* -------------------------------------- Buttons */
.btn-primary {
    background-color: #4059ad;
    border-color: #4059ad;
}

.btn-primary:hover {
    background-color: #4059ad;
    border-color: #4059ad;
    opacity: 0.9;
}

.btn-secondary {
    background-color: #9ad4d6;
    border-color: #9ad4d6;
}

.btn-secondary:hover {
    background-color: #9ad4d6;
    border-color: #9ad4d6;
    opacity: 0.9;
}

/* -------------------------------------- Navbar */
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: #4059ad;
}

.nav-link {
    color: #4059ad;
}

.navbar {
    height: 5rem;
    background-color: #fff;
    border-bottom: 2px solid #dc04b4;
}

/* -------------------------------------- index.html */
.form-container {
    margin-top: 8rem;
}

.asteriskField {
    display: none;
}

/* -------------------------------------- Footer */
#footer-container {
  height: 5rem;
  border-top: 2px solid #dc04b4;
}

#footer-list i {
  font-size: 3rem;
  margin-top: 1rem;
  color: #4059ad;
}

/* -------------------------------------- Allauth pages */
.auth-content {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 10rem);
    padding: 3rem 0;
}

.auth-text {
    padding-bottom: 3rem;
}

.auth-form {
    width: 30vw;
    border: 2px solid #dc04b4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}