@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* -------------------------------------- Html */
html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

/* -------------------------------------- Body */
body {
  font-size: 1.6rem;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.index-text {
    color: #dc04b4;
}

/* -------------------------------------- Fonts */
.logo-font {
    font-family: 'Roboto', sans-serif;
    color: #4059ad;
}

/* -------------------------------------- Colors */
.bg-purple {
    background-color: #7510f7;
}

.bg-blue {
    background-color: #6cd4ff;
}

.bg-pink {
    background-color: #cfb1b7;
}

.bg-silver {
    background-color: #83858c;
}

/* -------------------------------------- Buttons */
.btn-primary {
    background-color: #7510F7;
    border-color: #7510F7;
}

.btn-primary:hover {
    background-color: #7510F7;
    border-color: #7510F7;
    opacity: 0.9;
}

.btn-secondary {
    background-color: #6cd4ff;
    border-color: #6cd4ff;
}

.btn-secondary:hover {
    background-color: #6cd4ff;
    border-color: #6cd4ff;
    opacity: 0.9;
}

.btn-xl{
    padding: 1rem 2rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: .5rem;
}

.btn-search{
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 1.5;
    border-radius: 1rem;
    height: calc(1.5em + .75rem + 2px)
}

/* -------------------------------------- Navbar */
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    color: #7510F7;
}

.nav-link {
    color: #7510F7;
}

.navbar {
    height: 5rem;
    background-color: #fff;
    border-bottom: 2px solid #dc04b4;
}

/* -------------------------------------- Toasts */
#bag-toast-container {
    position: fixed;
    top: 4rem;
    right: 1rem;
    z-index: 999999999;
}

#bag-toast {
    overflow: visible;
    font-size: 1.5rem;
}

.toast-header {
    height: 5rem;
}

.close {
    color: #fff;
    font-size: 2rem;
    opacity: 1;
}

.close:hover {
    color: #fff;
    opacity: 0.5;
}

.fa-trash-alt {
    cursor: pointer;
}

/* from CSS-tricks.com https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #7510F7;
    border-bottom-color: #7510F7;
    position: absolute;
    top: -1rem;
    right: 4rem;
}

.bag-toast-body {
    height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-bag-total {
    background-color: #cfbff7;
}

#bag-empty-text {
    text-align: center;
    margin: 4rem;
}

/* -------------------------------------- index.html */
.content-container{
    min-height: calc(100vh - 10rem);
}

#background-container{
    background: url(/media/main_bg.svg) no-repeat center center fixed;
    background-size: contain;
    height: calc(100vh - 20rem);
}

#search-form-container {
    /* position: relative;
    top: 10vh; */
    padding: 5px;
    width: 75vw;
    background-color: rgba(207, 191, 247, 0.5);
    border-radius: 10px;
}

.asteriskField {
    display: none;
}

.form-control {
    padding: 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    box-shadow:0 0 15px 10px rgba(0,0,0,0.1);
}

/* -------------------------------------- cars-all.html */
.responsive{
    max-width: 100%;
    height: auto;
}

/* -------------------------------------- car-insurance.html */
.choice-row{
    height: calc(100vh - 10rem);
}

.choice-col{
    width: 50vw;
}

/* -------------------------------------- car-dashboard.html */
.fa-card-img{
    font-size: 5rem;
    color: #7510F7;
}

/* -------------------------------------- Footer */
#footer-container {
  height: 5rem;
  border-top: 2px solid #dc04b4;
}

#footer-list i {
  font-size: 3rem;
  margin-top: 1rem;
  color: #7510F7;
}

/* -------------------------------------- Allauth pages */
.auth-content {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 10rem);
    padding: 3rem 0;
}

.auth-text {
    padding-bottom: 3rem;
}

.auth-form {
    width: 30vw;
    border: 2px solid #dc04b4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------- Car-detail */
.carousel-image {
    height: 100%;
}

/* -------------------------------------- Checkout */
select,
select option {
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* -------------------------------------- Stripe */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* -------------------------------------- CarForm widget */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------------- Media Queries */
/* Large devices */
@media screen and (min-width: 1170px) {
}

/*Tablet and above Landscape View*/
@media screen and (min-width: 940px) {

}

/*Tablet and above Portrait View*/
@media screen and (min-width: 768px) {
    
}

