<footer class="container-fluid fixed-bottom" id="footer-container">
  <div class="row no-gutters">
    <div class="col-12">
      <ul class="list-inline text-right" id="footer-list">
        <li class="list-inline-item">
          <a href="https://www.facebook.com" target="_blank"
            >
              <i class="fab fa-facebook"
              aria-hidden="true"
              rel="noopener"
            ></i>
            <span class="sr-only">Facebook link</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com" target="_blank"
            ><i class="fab fa-twitter"
              aria-hidden="true"
              rel="noopener"
            ></i>
            <span class="sr-only">Twitter link</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://instagram.com" target="_blank"
            ><i class="fab fa-instagram"
              aria-hidden="true"
              rel="noopener"
            ></i>
            <span class="sr-only">Instagram link</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>