<nav class="navbar sticky-top navbar-expand-md">
  <a class="navbar-brand" href="{% url 'home' %}">
    CarLet
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#carlet-nav"
    aria-controls="carlet-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"
      ><i class="fas fa-bars" style="color: #7510f7; font-size: 28px;"></i
    ></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="carlet-nav">
    <ul class="navbar-nav align-items-end">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'car_dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
      </li>
      <li class="nav-item d-md-none" id="mobile-bag-nav">
        <a class="nav-link" href="{% url 'bag' %}">
          {% if grand_total %} £{{ grand_total|floatformat:2 }}
          {% else %}
          £0.00
          {% endif %}
          <i class="fas fa-car"></i>
        </a>
      </li>
      <li class="nav-item d-none d-md-block" id="bag-nav">
        <a class="nav-link" href="#">
          {% if grand_total %} £{{ grand_total|floatformat:2 }}
          {% else %}
          £0.00
          {% endif %}
          <i class="fas fa-car"></i>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="#">How it Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
