<div class="form-container home-search">
  <form action="{% url 'all_cars' %}" method="GET">
    <div class="row">
      <div class="col-12 col-md-6 p-1">
        {{ search_form.location.errors }}
        {{ search_form.location|as_crispy_field }}
      </div>
      <div class="col-12 col-md-3 p-1">
        {{ search_form.search_from|as_crispy_field }}
      </div>
      <div class="col-12 col-md-3 p-1">
        {{ search_form.search_to|as_crispy_field }}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-lg m-3">Search</button>
    </div>
  </form>
</div>