{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="auth-content">
    <div class="auth-text">
        <h2 class="logo-font text-center">{% trans "Log Out" %}</h2>

        <p class="text-center">{% trans 'Are you sure you want to log out?' %}</p>
    </div>

    <div class="auth-container text-center">
        <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary btn-lg" type="submit">
        {% trans 'Log Out' %}</button>
        </form>
    </div>
</div>

{% endblock %}
