{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="auth-content">
    <h2 class="logo-font">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change auth-form p-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-primary btn-lg">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
