{% extends "base.html" %} {% block content %}
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <hr />
      <h2 class="logo-font">Dashboard</h2>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4" id="dashboard-add">
      <div class="card dashboard-card text-center">
        <i class="fas fa-plus fa-card-img card-img-top"></i>
        <div class="card-body">
          <h2 class="card-title">Add</h2>
          <p class="card-text">
            Add your car to Carlet so others can hire it
          </p>
          <a href="{% url 'add_car' %}" class="btn btn-secondary btn-lg"
            >Add a Car</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4" id="dashboard-edit">
      <div class="card dashboard-card text-center">
        <i class="fas fa-minus fa-card-img card-img-top"></i>
        <div class="card-body">
          <h2 class="card-title">Edit / Delete</h2>
          <p class="card-text">
            Edit or Delete your car from Carlet
          </p>
          <a href="{% url 'display_cars' %}" class="btn btn-secondary btn-lg"
            >Edit or Delete a Car</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4" id="dashboard-hire">
      <div class="card dashboard-card text-center">
        <i class="fas fa-list fa-card-img card-img-top"></i>
        <div class="card-body">
          <h2 class="card-title">Orders</h2>
          <p class="card-text">
            See your current and previously hired cars
          </p>
          <a href="{% url 'all_orders' %}" class="btn btn-secondary btn-lg"
            >See Orders</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card dashboard-card text-center">
        <i class="fas fa-list fa-card-img card-img-top"></i>
        <div class="card-body">
          <h2 class="card-title">Bookings</h2>
          <p class="card-text">
            See your current and previous car bookings
          </p>
          <a href="{% url 'car_bookings' %}" class="btn btn-secondary btn-lg"
            >See Bookings</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card dashboard-card text-center">
        <i class="fas fa-user fa-card-img card-img-top"></i>
        <div class="card-body">
          <h2 class="card-title">Profile</h2>
          <p class="card-text">
            Edit your profile details
          </p>
          <a href="{% url 'profile' %}" class="btn btn-secondary btn-lg" id="profile-card-btn">Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
