{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row full-row">
        <div class="col-12 col-md-6 p-5 my-auto">
            <img src="{% get_media_prefix %}axa-logo.jpg" class="responsive" alt="Insurance logo">
        </div>
		<div class="col-12 col-md-6 pb-5 my-auto">
            <div class="px-5">
                <h1 class="text-center">Insure Your Hire Car With Us</h1>
                <hr>
                <p>We have partnered with AXA Insurance so you can easily add car insurance for your hire period</p>
                <p class="text-muted font-size-muted">Please note: If you choose to use your own insurance company you must provide the insurance details to the car owner when collecting the vehicle</p>
                <p class="text-bold">{{ insurance }} per day for {{ num_days }} days</p>
                <hr class="hr-color">
                <p class="text-bold">Total {{ insurance_total }}</p>
                <hr class="hr-color">
            </div>
            <div class="text-center">
                <form class="form d-inline-block" action="{% url 'add_to_bag' car.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Reserve">
                    <input type="hidden" name="item" value="insurance">
                </form>
                <a class="btn btn-primary btn-lg" href="{% url 'car_insurance_skip' car.id %}" role="button">Skip</a>
            </div>
		</div>
	</div>
</div>
{% endblock %}