{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row full-row">
        <div class="col-12 col-md-6 p-5 my-auto">
            <img src="{% get_media_prefix %}AA_logo.gif" id="support-logo" class="responsive" alt="Roadside assistance logo">
        </div>
		<div class="col-12 col-md-6 pb-5 my-auto">
            <div class="px-5">
                <h1 class="text-center">Roadside Assistance</h1>
                <hr>
                <p>Add AA Roadside assistance to your Carlet package for added peace of mind while you travel</p>
                <p class="text-bold">{{ support }} per day for {{ num_days }} days</p>
                <hr class="hr-color">
                <p class="text-bold">Total {{ support_total }}</p>
                <hr class="hr-color">
            </div>
            <div class="text-center">
                <form class="form d-inline-block" action="{% url 'add_to_bag' car.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Reserve">
                    <input type="hidden" name="item" value="support">
                </form>
                <a class="btn btn-primary btn-lg" href="{% url 'checkout' %}" role="button">Go To Checkout</a>
            </div>
		</div>
	</div>
</div>
{% endblock %}