{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-12">
			<hr>
			<h2 class="logo-font">Dashboard</h2>
			<hr>
		</div>
	</div>
    <div class="row">
        <div class="col-12">
            <hr>
            <h3>Edit Your Car</h3>
            <p class="text-muted">Select a car to edit or remove</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4">
            <form method="POST" action="{% url 'add_car' %}" class="auth-form p-4" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                {{ formset | crispy }}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'all_cars' %}" class="btn btn-primary btn-lg mx-2">Cancel</a>
                    <button class="btn btn-primary btn-lg">Add Car</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}