{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h3>Edit Your Car</h3>
            <p class="text-muted">Edit and update your car details</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-4">
            <form method="POST" action="{% url 'add_car' %}" class="auth-form p-4" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'display_cars' %}" class="btn btn-primary btn-lg mx-2">Cancel</a>
                    <button class="btn btn-primary btn-lg">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}