{% extends "base.html" %} {% block content %}
{% load static %}
<section class="container-fluid" id="search-results">
    <div class="row">
        {% for car in cars %}
        <div class="col-12 col-md-4 car-col">
            <div class="card" style="width: 18rem;">
                {% for image in car.carimage_set.all %}
                <img src="{{ image.car_image.path }}" class="card-img-top" alt="...">
                {% endfor %}
                <div class="card-body">
                    <p class="card-text">{{ car.make }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}