<!-- The image -->
{% if widget.value.url %}
<a href="{{ widget.value.url }}">
    <img width="150" height="100" class="rounded shadow-sm" src="
    {{ widget.value.url }}">
</a>
{% else %}
<strong><p class="text-danger" id="file-{{widget.name}}"></p></strong>
{% endif %}
<div class="btnbox-wrapper">
    <!-- The button -->
    <span class="btn btn-primary btn-file">
    Select Image <input class="{{ widget.name }}" type="{{ widget.type }}"
    name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
    </span>
    {% if not widget.required and widget.value.url %}
        <!-- The clearable checkbox -->
        <div class="custom-control custom-checkbox mt-2 d-inline">
            <input class="custom-control-input" type="checkbox"
            name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger"
            for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}
</div>
