<div id="bag-toast-container">
  <div class="toast" id="bag-toast" data-autohide="false">
  <div class="arrow-up"></div>
    <div class="toast-header text-light bg-purple">
      <strong class="mr-auto">Your Booking</strong>
      <button
        type="button"
        class="ml-2 mb-1 close"
        data-dismiss="toast"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="bag-toast-body bg-white">
      <div class="row">
		<div class="col-12">
			{% if grand_total %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Description</th>
							<th scope="col">Cost per day</th>
							<th scope="col">No. of days</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="py-1">
								<p>{{make}}, {{model}}</p>
							</td>
							<td class="py-1">
								<p>£{{car_cost_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{car_total}}</p>
							</td>
						</tr>
                        {% if insurance_total %}
                        <tr>
							<td class="py-1">
								<p>Car insurance</p>
							</td>
							<td class="py-1">
								<p>£{{insurance_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{insurance_total}}</p>
							</td>
						</tr>
                        {% endif %}
                        {% if support_total %}
                        <tr>
							<td class="py-1">
								<p>Road side assistance</p>
							</td>
							<td class="py-1">
								<p>£{{support_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{support_total}}</p>
							</td>
						</tr>
                        {% endif %}
					</tbody>
				</table>
			</div>
            <div class="text-center font-weight-bold pb-3">
                <span class="pr-3">Total to pay</span><span>£{{grand_total}}</span>
            </div>
            <div class="mx-3 mb-3">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'checkout' %}" role="button">Go To Secure Checkout
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
			{% else %}
			<p>You don't have any bookings yet</p>
			{% endif %}
		</div>
	</div>
    </div>
  </div>
</div>
