<div id="bag-toast-container">
  <div class="toast" id="bag-toast" data-autohide="false">
  <div class="arrow-up"></div>
    <div class="toast-header text-light bg-purple">
      <strong class="mr-auto">Your Booking</strong>
      <button
        type="button"
        class="ml-2 mb-1 close"
        data-dismiss="toast"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="bag-toast-body bg-white">
      <div class="row">
		<div class="col-12">
			{% if grand_total %}
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Description</th>
							<th scope="col">Cost per day</th>
							<th scope="col">No. of days</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="py-1">
								<p>{{bag_car.make}}, {{bag_car.model}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_car.cost_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_car_total}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-item="{{ car_id }}" data-name="del_car"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% if bag_insurance %}
                        <tr>
							<td class="py-1">
								<p>Car insurance</p>
							</td>
							<td class="py-1">
								<p>£{{bag_insurance.cost_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_insurance_total}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-item="{{ insurance_id }}" data-name="del_insurance"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% endif %}
                        {% if bag_support %}
                        <tr>
							<td class="py-1">
								<p>Road side assistance</p>
							</td>
							<td class="py-1">
								<p>£{{bag_support.cost_per_day}}</p>
							</td>
							<td class="py-1">
								<p>{{num_days}}</p>
							</td>
							<td class="py-1">
								<p>£{{bag_support_total}}</p>
							</td>
                            <td class="py-1">
								<a class="delete-link" data-item="{{ support_id }}" data-name="del_support"><i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
                        {% endif %}
					</tbody>
				</table>
			</div>
            <div class="text-center font-weight-bold pb-3">
                <span class="pr-3">Total to pay</span><span>£{{grand_total}}</span>
            </div>
            <div class="mx-3 mb-3">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'checkout' %}" role="button">Go To Secure Checkout
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
			{% else %}
            <div id="bag-empty-text">
                <p>You don't have any bookings yet</p>
                <p>Search for cars to get started</p>
            </div>
			{% endif %}
		</div>
	</div>
    </div>
  </div>
</div>
{% block postloadjs %}
<script type="text/javascript">
    // Remove item and reload on click
    $(".delete-link").click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).data('item');
        let name = $(this).data('name');
        let url = `/bag/remove/${itemId}/`
        let data = {'csrfmiddlewaretoken': csrfToken, 'name': name};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}